{% extends "base.html" %}
{% block main_content_body %}
            <div class="row">
                <div class="col">
                    <div class="table-responsive table-sm">
                        <table class="table">
                            <tbody>
                            {% for url, endpoint in links %}
                            <tr>
                                <th scope="row">{{ endpoint }}</th>
                                <td><a href="{{ url }}">{{ url }}</a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.row -->
{% endblock %}
